h1 {
    font-size: 5em;
  }

.button-container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    padding: 20px;
  }
  
  button {
    margin: 10px;
    padding: 100px 50px;
    border: none;
    border-radius: 20px;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
    font-size: 3em;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
